/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-08-05T07:39:22+08:00
*/
@charset "UTF-8";
/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-07-27T07:44:03+08:00
*/
/* line 8, lib.less */
/* @charset "UTF-8"; */
/*全局*/
/* line 12, common.less */
body {
  background-color: #f5f5f5
  /*overflow: hidden;*/
}
/* line 21, common.less */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/* line 25, common.less */
.w_per100 {
  width: 100%;
}
/* line 26, common.less */
.w_per90 {
  width: 90%;
}
/* line 27, common.less */
.w_per618 {
  width: 61.8%;
}
/* line 28, common.less */
.w_per382 {
  width: 38.2%;
}
/* line 30, common.less */
.w_per25 {
  width: 25%;
}
/* line 31, common.less */
.w_per40 {
  width: 40%;
}
/* line 32, common.less */
.w_per60 {
  width: 60%;
}
/* line 33, common.less */
.w_per75 {
  width: 75%;
}
/* line 35, common.less */
.w_max {
  max-width: 1520px;
  margin: 0 auto;
}
/* line 41, common.less */
.w_min {
  min-width: 1200px;
}
/* line 45, common.less */
.w_1200 {
  max-width: 1200px;
  margin: 0 auto;
}
/* mod_header
 ------------------------------------------------------------- */
/* line 55, common.less */
.mod_header {
  overflow: hidden;
  z-index: 1;
}
/* line 62, common.less */
.mod_header .logo .icon {
  display: block;
  float: left;
  padding: 14px 10px 0;
  font-size: 10rem;
  line-height: 0.5;
  color: #ffffff;
}
/* line 75, common.less */
.mod_header .logo:hover .icon {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
/* mod_footer
 ------------------------------------------------------------- */
/* line 96, common.less */
.mod_footer {
  height: 300px;
  background: #b6263e;
  box-shadow: inset 0px 10px 40px -10px #000000;
}
/* line 103, common.less */
.mod_footer .relation {
  padding: 110px 0 30px 0;
  text-align: center;
}
/* line 106, common.less */
.mod_footer .relation .item {
  padding: 0 20px;
  width: 50px;
  height: 50px;
  color: #ffffff;
}
/* line 116, common.less */
.mod_footer .relation .icon {
  font-size: 40px;
  line-height: 1;
}
/* line 125, common.less */
.mod_footer .txt {
  color: #ffffff;
  text-align: center;
}
/* line 129, common.less */
.mod_footer .companyname {
  font-size: 30px;
}
/* line 133, common.less */
.mod_footer .companyname_en {
  margin: 10px 0 0 0;
  font-size: 14px;
}
/* mod_nav_main
 ------------------------------------------------------------- */
/* line 183, common.less */
.mod_nav_main {
  padding: 30px 0;
  text-align: right;
}
/* line 187, common.less */
.mod_nav_main .link {
  position: relative;
  margin: 0 30px;
  color: #ffffff;
  line-height: 1.6;
  font-size: 24px;
}
/* line 197, common.less */
.mod_nav_main .link::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  display: inline-block;
  margin: -5px 0 0 -5px;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}
/* line 211, common.less */
.mod_nav_main .link:first-child::before {
  display: none;
}
/* line 216, common.less */
.mod_nav_main .link.active,
.mod_nav_main .link:hover {
  text-decoration: underline;
}
/* nav_crumbs
 ------------------------------------------------------------- */
/* line 226, common.less */
.mod_nav_crumbs {
  display: block;
  margin: 180px 0 110px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 231, common.less */
.mod_nav_crumbs .link {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  color: #3c3c3c;
  font-size: 30px;
  line-height: 1em;
}
/* line 239, common.less */
.mod_nav_crumbs .link::before {
  content: "";
  position: absolute;
  right: -5px;
  bottom: -6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 250, common.less */
.mod_nav_crumbs .link.active,
.mod_nav_crumbs .link:hover {
  color: #b6263e;
}
/* line 254, common.less */
.mod_nav_crumbs .link.active::before,
.mod_nav_crumbs .link:hover::before {
  background: #b6263e;
}
/* list
 ------------------------------------------------------------- */
/* line 264, common.less */
.mod_list_wrap {
  margin: 20px auto;
}
/* line 268, common.less */
.mod_list {
  height: 280px;
  margin: 76px auto 88px auto;
  background: #e4e4e4;
}
/* line 273, common.less */
.mod_list .wrap {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
/* line 279, common.less */
.mod_list .cover {
  position: absolute;
  display: block;
  float: left;
  margin: 6px 0 0 0;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 290, common.less */
.mod_list .cover .img {
  max-width: 100%;
  display: block;
}
/* line 293, common.less */
.mod_list .cover .img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 299, common.less */
.mod_list .fr {
  width: 540px;
  height: 280px;
  margin: 0 0 0 400px;
}
/* line 305, common.less */
.mod_list .title {
  margin: 70px 0 20px 0;
  font-size: 20px;
  line-height: 1.6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 316, common.less */
.mod_list .wire {
  position: relative;
  display: block;
  height: 1px;
  margin: 0 0 20px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 322, common.less */
.mod_list .wire::before {
  content: "";
  position: absolute;
  right: 10%;
  bottom: -9px;
  width: 10px;
  height: 10px;
  background: #3c3c3c;
  border: 4px solid #e4e4e4;
  border-radius: 50%;
}
/* line 335, common.less */
.mod_list .info {
  height: 160px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 341, common.less */
.mod_list .btn_more {
  margin: 0 0 0 auto;
  padding: 8px;
  border: 1px dashed #3c3c3c;
  font-size: 14px;
  color: #3c3c3c;
}
/* line 348, common.less */
.mod_list .btn_more:hover {
  color: #b6263e;
  border-color: #b6263e;
}
/* article
 ------------------------------------------------------------- */
/* line 361, common.less */
.mod_article .title {
  position: relative;
  padding: 50px 0;
  margin: 0 0 120px 0;
  font-size: 40px;
  line-height: 1.4;
  color: #3c3c3c;
  font-weight: normal;
  border-bottom: 2px solid #3c3c3c;
}
/* line 371, common.less */
.mod_article .title::before {
  content: "";
  position: absolute;
  right: 10%;
  bottom: -20px;
  width: 20px;
  height: 20px;
  border: 10px solid #f5f5f5;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 384, common.less */
.mod_article .cover {
  padding: 0 20px 70px 20px;
  margin: 0 0 100px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 389, common.less */
.mod_article .cover .img {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: display: block;
}
/* line 397, common.less */
.mod_article .cover p {
  color: #8c8989;
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
}
/* line 405, common.less */
.mod_article .content {
  margin: 0 0 120px 0 ;
  color: #3c3c3c;
  line-height: 1.6em;
}
/* line 410, common.less */
.mod_article .content p {
  margin: 2em 0;
}
/* page
  ------------------------------------------------------------- */
/* line 420, common.less */
.mod_page {
  margin: 40px auto;
  padding: 40px 20px 0 20px;
  display: block;
  text-align: right;
  overflow: hidden;
}
/* line 427, common.less */
.mod_page > li {
  display: inline-block;
}
/* line 431, common.less */
.mod_page_item {
  display: inline-block;
  padding: 0 6px;
  margin: 0 4px;
  height: 20px;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
  text-align: center;
  line-height: 1.6;
  font-size: 14px;
  color: #3c3c3c;
}
/* line 448, common.less */
.mod_page_item:hover,
.mod_page_item.active {
  color: #ffffff;
  border: 1px solid #b6263e;
  background-color: #b6263e;
}
/* share
 ------------------------------------------------------------- */
/* line 460, common.less */
.mod_share {
  margin: 10px auto;
  text-align: right;
}
/* line 464, common.less */
.mod_share .link {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  background: #8c8989;
  border-radius: 50%;
  color: #ffffff;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}
/* line 477, common.less */
.mod_share .link:hover {
  background: #b6263e;
}
/*  list4
 ------------------------------------------------------------- */
/* line 492, common.less */
.mod_list4 .item {
  display: inline-block;
  width: 200px;
  margin-left: 114px;
}
/* line 497, common.less */
.mod_list4 .item:first-child {
  margin-left: 0;
}
/* line 502, common.less */
.mod_list4 .item:hover .title {
  color: #b6263e;
}
/* line 507, common.less */
.mod_list4 .img_wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
/* line 515, common.less */
.mod_list4 .img {
  display: block;
  max-width: 100%;
}
/* line 519, common.less */
.mod_list4 .img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 523, common.less */
.mod_list4 .title {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #3c3c3c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* recommend
 ------------------------------------------------------------- */
/* line 537, common.less */
.mod_recommend {
  margin: 100px auto;
}
/* line 540, common.less */
.mod_recommend .wire {
  position: relative;
  margin: 30px 0;
  height: 1px;
  background: #3c3c3c;
}
/* line 546, common.less */
.mod_recommend .wire .title {
  position: absolute;
  top: -22px;
  padding: 14px 10px;
  border: 1px solid #3c3c3c;
  background: #f5f5f5;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}
/* line 557, common.less */
.mod_recommend .wire::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 569, common.less */
.mod_recommend .mod_list4 {
  margin: 60px 0;
}
