@charset "UTF-8";
/* line 1, lib.less */
/* @charset "UTF-8"; */
/*全局*/
/* line 5, common.less */
body {
  background-color: #f5f5f5
  /*overflow: hidden;*/
}
/* line 14, common.less */
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
/* line 18, common.less */
.w_per100 {
  width: 100%;
}
/* line 19, common.less */
.w_per90 {
  width: 90%;
}
/* line 20, common.less */
.w_per618 {
  width: 61.8%;
}
/* line 21, common.less */
.w_per382 {
  width: 38.2%;
}
/* line 23, common.less */
.w_per25 {
  width: 25%;
}
/* line 24, common.less */
.w_per40 {
  width: 40%;
}
/* line 25, common.less */
.w_per60 {
  width: 60%;
}
/* line 26, common.less */
.w_per75 {
  width: 75%;
}
/* line 28, common.less */
.w_max {
  max-width: 1520px;
  margin: 0 auto;
}
/* line 34, common.less */
.w_min {
  min-width: 1200px;
}
/* line 38, common.less */
.w_1200 {
  max-width: 1200px;
  margin: 0 auto;
}
/* mod_header
 ------------------------------------------------------------- */
/* line 48, common.less */
.mod_header {
  overflow: hidden;
  width: 100%;
  height: 100px;
  z-index: 2;
}
/* line 57, common.less */
.mod_header .logo {
  display: inline-block;
}
/* line 59, common.less */
.mod_header .logo .icon {
  display: block;
  float: left;
  padding: 20px 10px 0;
  font-size: 10rem;
  line-height: 0.5;
  color: #b6263e;
}
/* line 72, common.less */
.mod_header .logo:hover .icon {
  -webkit-transform: scale(0.98);
      -ms-transform: scale(0.98);
          transform: scale(0.98);
}
/* line 83, common.less */
.mod_header_white .logo .icon {
  color: #ffffff;
}
/* line 88, common.less */
.mod_header_white .mod_nav_main .link {
  color: #ffffff;
}
/* line 90, common.less */
.mod_header_white .mod_nav_main .link::before {
  background: #ffffff;
}
/* mod_footer
 ------------------------------------------------------------- */
/* line 106, common.less */
.mod_footer {
  height: 300px;
  background: #b6263e;
  box-shadow: inset 0px 10px 40px -10px #000000;
}
/* line 113, common.less */
.mod_footer .relation {
  padding: 110px 0 30px 0;
  text-align: center;
}
/* line 116, common.less */
.mod_footer .relation .item {
  padding: 0 20px;
  width: 50px;
  height: 50px;
  color: #ffffff;
}
/* line 126, common.less */
.mod_footer .relation .icon {
  font-size: 40px;
  line-height: 1;
}
/* line 135, common.less */
.mod_footer .txt {
  color: #ffffff;
  text-align: center;
}
/* line 139, common.less */
.mod_footer .companyname {
  font-size: 30px;
}
/* line 143, common.less */
.mod_footer .companyname_en {
  margin: 10px 0 0 0;
  font-size: 14px;
  text-transform: uppercase;
}
/* mod_nav_main
 ------------------------------------------------------------- */
/* line 194, common.less */
.mod_nav_main {
  height: 100px;
  text-align: right;
}
/* line 198, common.less */
.mod_nav_main .link {
  position: relative;
  margin: 0 30px;
  color: #b6263e;
  line-height: 100px;
  font-size: 16px;
}
/* line 208, common.less */
.mod_nav_main .link::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  display: inline-block;
  margin: -4px 0 0 -4px;
  width: 8px;
  height: 8px;
  background: #b6263e;
  border-radius: 50%;
}
/* line 223, common.less */
.mod_nav_main .link:first-child::before {
  display: none;
}
/* line 228, common.less */
.mod_nav_main .link.active,
.mod_nav_main .link:hover {
  text-decoration: underline;
}
/* nav_crumbs
 ------------------------------------------------------------- */
/* line 238, common.less */
.mod_nav_crumbs {
  display: block;
  margin: 40px 0 40px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 245, common.less */
.mod_nav_crumbs .link {
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  color: #3c3c3c;
  font-style: 16px;
  line-height: 1em;
}
/* line 255, common.less */
.mod_nav_crumbs .link::before {
  content: "";
  position: absolute;
  right: -4px;
  bottom: -5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 266, common.less */
.mod_nav_crumbs .link.active,
.mod_nav_crumbs .link:hover {
  color: #b6263e;
}
/* line 270, common.less */
.mod_nav_crumbs .link.active::before,
.mod_nav_crumbs .link:hover::before {
  background: #b6263e;
}
/* line 279, common.less */
.e_mobile_nav_crumbs .link:last-child {
  width: 4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* nav main 移动
 ------------------------------------------------------------- */
/* line 291, common.less */
.nav_main_mobile {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ffffff;
}
/* line 297, common.less */
.nav_main_mobile .link {
  display: inline-block;
  width: 49.2%;
  height: 60px;
  line-height: 60px;
}
/* line 316, common.less */
.nav_main_mobile .triangle::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border: 14px solid #3c3c3c;
  vertical-align: middle;
}
/* line 328, common.less */
.nav_main_mobile .triangle_l::before {
  border-width: 14px 0 14px 14px;
  border-color: transparent transparent transparent #3c3c3c;
}
/* line 335, common.less */
.nav_main_mobile .triangle_r::before {
  border-width: 14px 14px 14px 0;
  border-color: transparent #3c3c3c transparent transparent;
}
/* line 342, common.less */
.nav_main_mobile .triangle_t::before {
  border-width: 14px 14px 0 14px;
  border-color: #3c3c3c transparent transparent transparent;
}
/* line 349, common.less */
.nav_main_mobile .triangle_b::before {
  border-width: 0 14px 14px 14px;
  border-color: transparent transparent #3c3c3c transparent;
}
/* line 358, common.less */
.nav_main_mobile .triangle_l:active::before,
.nav_main_mobile .triangle_l.active::before {
  border-color: transparent transparent transparent #b6263e;
}
/* line 365, common.less */
.nav_main_mobile .triangle_r:active::before,
.nav_main_mobile .triangle_r.active::before {
  border-color: transparent #b6263e transparent transparent;
}
/* line 372, common.less */
.nav_main_mobile .triangle_t:active::before,
.nav_main_mobile .triangle_t.active::before {
  border-color: #b6263e transparent transparent transparent;
}
/* line 379, common.less */
.nav_main_mobile .triangle_b:active::before,
.nav_main_mobile .triangle_b.active::before {
  border-color: transparent transparent #b6263e transparent;
}
/* list
 ------------------------------------------------------------- */
/* line 391, common.less */
.mod_list_wrap {
  margin: 20px auto;
}
/* line 395, common.less */
.mod_list {
  height: 280px;
  margin: 76px auto 88px auto;
  background: #e4e4e4;
}
/* line 400, common.less */
.mod_list .wrap {
  position: relative;
  width: 940px;
  margin: 0 auto;
}
/* line 406, common.less */
.mod_list .cover {
  position: absolute;
  display: block;
  float: left;
  margin: 6px 0 0 0;
  width: 330px;
  height: 330px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/* line 417, common.less */
.mod_list .cover .img {
  max-width: 100%;
  display: block;
}
/* line 420, common.less */
.mod_list .cover .img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 426, common.less */
.mod_list .fr {
  width: 540px;
  height: 280px;
  margin: 0 0 0 400px;
}
/* line 432, common.less */
.mod_list .title {
  margin: 70px 0 20px 0;
  font-size: 20px;
  line-height: 1.6;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 443, common.less */
.mod_list .wire {
  position: relative;
  display: block;
  height: 1px;
  margin: 0 0 20px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 449, common.less */
.mod_list .wire::before {
  content: "";
  position: absolute;
  right: 10%;
  bottom: -9px;
  width: 10px;
  height: 10px;
  background: #3c3c3c;
  border: 4px solid #e4e4e4;
  border-radius: 50%;
}
/* line 462, common.less */
.mod_list .info {
  height: 160px;
  font-size: 14px;
  line-height: 1.6;
}
/* line 468, common.less */
.mod_list .btn_more {
  margin: 0 0 0 auto;
  padding: 8px;
  border: 1px dashed #3c3c3c;
  font-size: 14px;
  color: #3c3c3c;
}
/* line 475, common.less */
.mod_list .btn_more:hover {
  color: #b6263e;
  border-color: #b6263e;
}
/* article
 ------------------------------------------------------------- */
/* line 488, common.less */
.mod_article .title {
  position: relative;
  padding: 40px 0;
  margin: 0 0 40px 0;
  font-size: 28px;
  line-height: 1.4;
  color: #3c3c3c;
  font-weight: normal;
  border-bottom: 2px solid #3c3c3c;
}
/* line 498, common.less */
.mod_article .title::before {
  content: "";
  position: absolute;
  right: 10%;
  bottom: -20px;
  width: 20px;
  height: 20px;
  border: 10px solid #f5f5f5;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 511, common.less */
.mod_article .cover {
  padding: 0 20px 70px 20px;
  margin: 0 0 100px 0;
  border-bottom: 1px dashed #3c3c3c;
}
/* line 516, common.less */
.mod_article .cover .img {
  margin: 0 auto 40px auto;
  width: 100%;
  max-width: display: block;
}
/* line 524, common.less */
.mod_article .cover p {
  color: #8c8989;
  line-height: 1.6;
  font-size: 18px;
  text-align: center;
}
/* line 532, common.less */
.mod_article .content {
  margin: 0 0 120px 0 ;
  color: #3c3c3c;
  line-height: 1.6em;
}
/* line 537, common.less */
.mod_article .content p {
  margin: 2em 0;
}
/* page
  ------------------------------------------------------------- */
/* line 547, common.less */
.mod_page {
  margin: 40px auto;
  padding: 40px 20px 0 20px;
  display: block;
  text-align: right;
  overflow: hidden;
}
/* line 554, common.less */
.mod_page > li {
  display: inline-block;
}
/* line 558, common.less */
.mod_page_item {
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px;
  min-width: 18px;
  height: 26px;
  border-radius: 15px;
  border: 1px solid #3c3c3c;
  text-align: center;
  line-height: 1.6;
  line-height: 26px;
  font-size: 14px;
  color: #3c3c3c;
}
/* line 575, common.less */
.mod_page_item:hover,
.mod_page_item.active {
  color: #ffffff;
  border: 1px solid #b6263e;
  background-color: #b6263e;
}
/* share
 ------------------------------------------------------------- */
/* line 587, common.less */
.mod_share {
  margin: 10px auto;
  text-align: right;
}
/* line 591, common.less */
.mod_share .link {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  background: #8c8989;
  border-radius: 50%;
  color: #ffffff;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
}
/* line 604, common.less */
.mod_share .link:hover {
  background: #b6263e;
}
/*  list4
 ------------------------------------------------------------- */
/* line 619, common.less */
.mod_list4 .item {
  display: inline-block;
  width: 200px;
  margin-left: 114px;
}
/* line 624, common.less */
.mod_list4 .item:first-child {
  margin-left: 0;
}
/* line 629, common.less */
.mod_list4 .item:hover .title {
  color: #b6263e;
}
/* line 634, common.less */
.mod_list4 .img_wrap {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
/* line 642, common.less */
.mod_list4 .img {
  display: block;
  max-width: 100%;
}
/* line 646, common.less */
.mod_list4 .img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
/* line 650, common.less */
.mod_list4 .title {
  margin: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #3c3c3c;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/* recommend
 ------------------------------------------------------------- */
/* line 664, common.less */
.mod_recommend {
  margin: 100px auto;
}
/* line 667, common.less */
.mod_recommend .wire {
  position: relative;
  margin: 30px 0;
  height: 1px;
  background: #3c3c3c;
}
/* line 673, common.less */
.mod_recommend .wire .title {
  position: absolute;
  top: -22px;
  padding: 14px 10px;
  border: 1px solid #3c3c3c;
  background: #f5f5f5;
  font-size: 20px;
  line-height: 1;
  font-weight: normal;
}
/* line 684, common.less */
.mod_recommend .wire::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3c3c3c;
}
/* line 696, common.less */
.mod_recommend .mod_list4 {
  margin: 60px 0;
}
