@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1473121031'); /* IE9*/
  src: url('../font/iconfont.eot?t=1473121031#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1473121031') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1473121031') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1473121031#iconfont') format('svg'); /* iOS 4.1- */
}
/* line 18, font.less */
[class^="icon-"],
[class*=" icon-"] {
  font-family: "iconfont" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 32, font.less */
.icon-weixin:before {
  content: "\e600";
}
/* line 33, font.less */
.icon-weibo:before {
  content: "\e609";
}
/* line 34, font.less */
.icon-qq:before {
  content: "\e60b";
}
/* line 35, font.less */
.icon-aite:before {
  content: "\e60a";
}
/* line 36, font.less */
.icon-logo:before {
  content: "\e601";
}
/* line 37, font.less */
.icon-facialmakeup:before {
  content: "\e602";
}
/* line 38, font.less */
.icon-xinlawenhua:before {
  content: "\e603";
}
/* line 39, font.less */
.icon-pen:before {
  content: "\e604";
}
/* line 40, font.less */
.icon-shopcar:before {
  content: "\e605";
}
/* line 41, font.less */
.icon-we:before {
  content: "\e606";
}
/* line 42, font.less */
.icon-window:before {
  content: "\e607";
}
/* line 43, font.less */
.icon-user:before {
  content: "\e608";
}

.icon-home:before { content: "\e60c"; }
