/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-07-25T07:35:23+08:00
*/
@charset "UTF-8";
/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-07-25T07:09:35+08:00
*/
/* line 8, lib.less */
/* @charset "UTF-8"; */
/** banner
----------------------------------------------------------------*/
/* line 15, page.less */
.banner .img {
  max-width: 100%;
}
/** column_introduce
----------------------------------------------------------------*/
/* line 23, page.less */
.column_wrap {
  margin: 90px auto 120px auto;
  border: 1px solid #3c3c3c;
  border-left: none;
  border-right: none;
}
/* line 30, page.less */
.column_introduce {
  margin: 0 auto;
  padding: 100px 0;
  width: 1200px;
  text-align: center;
}
/* line 36, page.less */
.column_introduce .item {
  display: inline-block;
  width: 24%;
}
/* line 41, page.less */
.column_introduce .icon {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #3c3c3c;
  line-height: 200px;
  font-size: 150px;
}
/* line 54, page.less */
.column_introduce .content {
  position: relative;
  margin: 50px auto 0 auto;
  height: 270px;
  width: 1px;
  background: #3c3c3c;
  color: #3c3c3c;
  line-height: 1.2;
}
/* line 64, page.less */
.column_introduce .content:before {
  content: "";
  position: absolute;
  top: 100%;
  left: -8px;
  width: 10px;
  height: 10px;
  background: #3c3c3c;
  border: 4px solid #f5f5f5;
  border-radius: 50%;
  z-index: 2;
}
/* line 80, page.less */
.column_introduce .content::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 1px;
  background: #b6263e;
  z-index: 1;
}
/* line 94, page.less */
.column_introduce .title,
.column_introduce .title_sub {
  position: absolute;
  writing-mode: tb-rl;
}
/* line 100, page.less */
.column_introduce .title {
  right: 14px;
  font-size: 36px;
}
/* line 105, page.less */
.column_introduce .title_sub {
  left: 14px;
  font-size: 18px;
}
/* line 112, page.less */
.column_introduce .item:hover .icon {
  border-color: #b6263e;
  color: #b6263e;
}
/* line 117, page.less */
.column_introduce .item:hover .content {
  color: #b6263e;
}
/* line 120, page.less */
.column_introduce .item:hover .content:before {
  top: -2px;
  background: #b6263e;
}
/* line 126, page.less */
.column_introduce .item:hover .content::after {
  height: 100%;
  width: 1px;
  background: #b6263e;
}
/** 动画
----------------------------------------------------------------*/
/* line 142, page.less */
.mod_header .logo .icon {
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}
/* line 147, page.less */
.column_introduce .icon,
.column_introduce .content::before,
.column_introduce .content::after,
.column_introduce .title,
.column_introduce .title_sub,
.mod_list4 .img {
  -webkit-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}
/* line 157, page.less */
.mod_list .cover .img {
  -webkit-transition: -webkit-transform 0.4s ease-out;
          transition: transform 0.4s ease-out;
}
