@charset "utf-8";
/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-07-27T07:44:03+08:00
*/
/* line 8, lib.less */
/* @charset "UTF-8"; */
/* line 5, responsive.less */
.visible_phone {
  display: none;
}
/* line 8, responsive.less */
.visible_tablet {
  display: none;
}
/* line 11, responsive.less */
.visible_desktop {
  display: block;
}
/* line 16, responsive.less */
.hidden_phone {
  display: block;
}
/* line 19, responsive.less */
.hidden_tablet {
  display: block;
}
/* line 22, responsive.less */
.hidden_desktop {
  display: none;
}
@media (max-width: 767px) {
  /* line 28, responsive.less */
  .visible_phone {
    display: block;
  }
  /* line 31, responsive.less */
  .hidden_phone {
    display: none;
  }
  /* line 35, responsive.less */
  .visible_desktop {
    display: none;
  }
  /* line 38, responsive.less */
  .hidden_desktop {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 45, responsive.less */
  .visible_tablet {
    display: block;
  }
  /* line 48, responsive.less */
  .hidden_tablet {
    display: none;
  }
  /* line 52, responsive.less */
  .visible_desktop {
    display: none;
  }
  /* line 55, responsive.less */
  .hidden_desktop {
    display: block;
  }
}
/* 水平状态的手机 android */
/* 水平状态的手机及以下 iphone竖直 */
/* 界于水平手机与竖直平板之间 */
/* 界于竖直平板与水平平板/桌面之间 */
/* 宽桌面 */
/* 宽桌面 */
/* 界于竖直平板与水平平板/桌面之间 */
/*@media (min-width: 768px) and (max-width: 979px) {

}*/
/*@media (max-width: 979px) {

}


@media (min-width: 980px) {

}*/
/* 宽桌面 */
/*@media (min-width: 1200px) {


}*/
/* line 119, responsive.less */
.w_min {
  min-width: auto;
}
/** index
----------------------------------------------------------------*/
/* line 128, responsive.less */
.mod_header {
  position: static;
  width: auto;
  height: 70px;
  padding: 0 30px;
  background: #ffffff;
  overflow: hidden;
}
/* line 138, responsive.less */
.mod_header .logo .icon {
  padding: 20px 0 0;
  font-size: 7.2rem;
  color: #b6263e;
}
/* line 145, responsive.less */
.mod_header .home {
  float: right;
}
/* line 147, responsive.less */
.mod_header .home .icon {
  color: #b6263e;
  line-height: 70px;
  font-size: 2rem;
}
