/**
* @Date:   2016-07-13T17:00:57+08:00
* @Last modified time: 2016-07-29T07:39:34+08:00
*/



@charset "UTF-8";
@import "lib";


/** banner
----------------------------------------------------------------*/
.banner{
	.img{
		max-width: 100%;
	}
}


/** column_introduce
----------------------------------------------------------------*/
.column_wrap{
	margin: 90px auto 120px auto;
	// padding:0 150px;
	border:1px solid @c_f;
	border-left:none;
	border-right:none;
}
.column_introduce{
	margin: 0 auto;
	padding: 100px 0;
	width: 1200px;
	text-align: center;

	.item{
		display: inline-block;
		width: 24%;
	}

	.icon{
		display: block;
		margin: 0 auto;
		width: 200px;
		height: 200px;

		border-radius: 50%;
		border: 2px solid @c_f;

		line-height: 200px;
		font-size: 150px;
	}

	.content{
		position: relative;
		margin: 50px auto 0 auto;
		height: 270px;
		width: 1px;
		background: @c_f;
		color: @c_f;
		line-height: 1.2;

		// 圆点
		&:before{
			content: "";
			position:absolute;
			// top:-2px;
			top: 100%;
			left: -8px;
			width: 10px;
			height: 10px;

			background: @c_f;
			border: 4px solid @c_bg;
			border-radius:50%;

			z-index: 2;
		}
		// 竖条
		&::after{
			content: "";
			position:absolute;
			left:0;
			bottom: 0;

			height: 0;
			width: 1px;
			background: @c_main;
			z-index: 1;
		}

	}

	.title,
	.title_sub{
		position: absolute;
		writing-mode:tb-rl;
	}

	.title{
		right: 14px;
		font-size: 36px;
	}

	.title_sub{
		left: 14px;
		font-size: 18px;
	}


	.item:hover{
		.icon{
			border-color: @c_main;
			color: @c_main;
		}

		.content{
			color: @c_main;

			&:before{
				// top:100%;
				top: -2px;
				background: @c_main;
			}

			&::after{
				height: 100%;
				width: 1px;
				background: @c_main;
			}
		}
	}
}


/** 关于辛辣
----------------------------------------------------------------*/
.about_banner{
	position: relative;
	margin: 0 0 -154px 0;
	height: 100%;
	min-height:600px;

	background: url(../images/bg_about2.jpg) no-repeat center center;
	background-size: cover;
	z-index: -1;

	.content{
		position: absolute;
		top: 50%;
		bottom: 0;
		width: 100%;
		height: 25.625%;
		margin: -77px 0 0 0;
		background: @c_main_618 url(../images/about_title.png) no-repeat center center;
		background-size:38%;
		transform: translate(0,-50%);
	}
}

/** 联系我们
----------------------------------------------------------------*/
.contactus_banner{
	max-width: 100%;
	width: 100%;
	position: relative;
	margin: -100px 0 0 0;
	z-index: -1;
}

.contactus{
	// position: relative;
	// margin: 0 0 -154px 0;
	// height: 100%;
	// min-height:100%;
	// background: url(../images/contact_us.jpg) no-repeat center center;
	// background-size: cover;
	width: 100%;
	display: table;

	&_itme{
		position: relative;
		display: table-cell;
		vertical-align: middle;
		text-align:center;

		overflow:visible;

		width: 33.33%;
		// height:300px;
		background: @c_bg_gray2;
		// margin-top: -100%;

		&::before {
			// position: absolute;
			content:"";
			display: inline-block;
			// display: block;
			padding-bottom: 100%;
			// vertical-align: middle;
			// height: 0;
		}

		// .wrap{
		// 	// padding-top: -100%;
		// 	// margin-top: -100%;
		// 	// position: absolute;
		// 	// top: 50%;
		// 	// bottom: 0;
		// 	// left: 0;
		// 	// right: 0;
		// 	// margin: auto;
		// 	position: absolute;
		// 	top: 0;
		// 	display: table;
		// }
		// .wrap_cell{
		// 	display: table-cell;
		// 	vertical-align: middle;
		// }
	}

	& &_special{
		position: relative;
		background: @c_main;
		color: @c_white;
		overflow:visible;

		.icon{
			font-size: 120px;
			// width: 100%;
			// margin: 0 auto;
			// display: inline-block;
		}

		.title{
			// display: inline-block;
		}

		.title_sub{
			// display: inline-block;
		}

		&::after{
			content:"";
			width: 0;
			height: 0;
			position: absolute;
			left: 98%;
			// right: auto;
			top: 50%;
			margin:-10px 0 0 0;

			border-style: solid;
			border-width: 20px 0 20px 20px;
			border-color: transparent transparent transparent #000;

		}

		&.triangle_b::after{
			left: 50%;
			top: 100%;
			margin:0 0 0 -20px;

			border-width: 20px 20px 0 20px;
			border-color: @c_main transparent transparent transparent;
		}

		&.triangle_l::after{
			right: 100%;
			left:auto;
			top: 50%;

			margin:-10px 0 0 0;

			border-width: 20px 20px 20px 0;
			border-color: transparent @c_main transparent transparent;
		}


	}

}





/** 动画
----------------------------------------------------------------*/
.mod_header{
	.logo{
		.icon{
			transition:all .4s ease-out;
		}
	}
}
.column_introduce .icon,
.column_introduce .content::before,
.column_introduce .content::after,
.column_introduce .title,
.column_introduce .title_sub,
.mod_list4 .img{
	transition:all .4s ease-out;
}


.mod_list .cover .img{
	transition:transform .4s ease-out;
}




// 布局定位属性：display / position / float / clear / visibility / overflow
// 自身属性：width / height / margin / padding / border / background
// 文本属性：color / font / text-decoration / text-align / vertical-align / white- space / break-word
// 其他属性（CSS3）：content / cursor / border-radius / box-shadow / text-shadow / background:linear-gradient …
